## .NET Core / ASP.NET Core GitIgnore
bin/
obj/
publish/
*.zip

# Visual Studio / VS Code
.vs/
.vscode/
*.user
*.userosscache
*.suo
*.userprefs
*.dbmdl

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Rider
.idea/
*.sln.iml

# OS files
.DS_Store
Thumbs.db
