.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 18px 8%;

    background: white;

    position: sticky;
    top: 0;

    z-index: 999;

    box-shadow: 0 4px 15px rgba(0,0,0,.08);
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo-icon{
    color:#2563eb;
    font-size:28px;
}

.logo h2{
    color:#2563eb;
    font-size:28px;
}

nav{
    display:flex;
    gap:35px;
}

nav a{
    text-decoration:none;
    color:#444;
    font-weight:500;
    transition:.3s;
}

nav a:hover{
    color:#2563eb;
}

.login-btn{
    background:#2563eb;
    color:white;

    border:none;

    padding:10px 22px;

    border-radius:10px;

    cursor:pointer;

    transition:.3s;
}

.login-btn:hover{
    background:#1d4ed8;
}